<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphQL" version="7.6.1" targetFramework="net481" />
  <package id="GraphQL-Parser" version="8.4.0" targetFramework="net481" />
  <package id="HotChocolate.Abstractions" version="13.6.0" targetFramework="net481" />
  <package id="HotChocolate.Language" version="13.6.0" targetFramework="net481" />
  <package id="HotChocolate.Language.SyntaxTree" version="13.6.0" targetFramework="net481" />
  <package id="HotChocolate.Language.Utf8" version="13.6.0" targetFramework="net481" />
  <package id="HotChocolate.Language.Visitors" version="13.6.0" targetFramework="net481" />
  <package id="HotChocolate.Language.Web" version="13.6.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net481" />
  <package id="Microsoft.CodeCoverage" version="17.7.2" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.ObjectPool" version="6.0.0" targetFramework="net481" />
  <package id="MSTest.TestAdapter" version="3.1.1" targetFramework="net481" />
  <package id="MSTest.TestFramework" version="3.1.1" targetFramework="net481" />
  <package id="NUnit" version="3.13.3" targetFramework="net481" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net481" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
</packages>